In [1]:
from sklearn import tree
import pandas as pd
import os

In [3]:
df = pd.read_csv('combined-dummies.csv')
df.head()

,age,Dalc,Walc,Medu,Fedu,studytime,G3,sex_F,sex_M,romantic_no,romantic_yes
0,18,1,1,4,4,2,6,1,0,1,0
1,17,1,1,1,1,2,6,1,0,1,0
2,15,2,3,1,1,2,10,1,0,1,0
3,15,1,1,4,2,3,15,1,0,0,1
4,16,1,2,3,3,2,10,1,0,1,0

In [16]:
target = df["G3"]

# all included grades in target datset
#target_names = ["0", "1", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20"]


#included grades in test data
target_names = ["0", "1", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19"]

In [17]:
data = df.drop("G3", axis=1)
feature_names = data.columns
data.head()

,age,Dalc,Walc,Medu,Fedu,studytime,sex_F,sex_M,romantic_no,romantic_yes
0,18,1,1,4,4,2,1,0,1,0
1,17,1,1,1,1,2,1,0,1,0
2,15,2,3,1,1,2,1,0,1,0
3,15,1,1,4,2,3,1,0,0,1
4,16,1,2,3,3,2,1,0,1,0

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)
# get target_names for test data
#y_test.unique()

array([11,  8, 13, 12,  0, 15, 16,  7, 10, 14, 17,  9, 18,  6, 19,  5,  1],
      dtype=int64)

In [14]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.09578544061302682

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)